<a href="https://colab.research.google.com/github/tlsrhksdn/2024_2-ADAM/blob/main/002_%EC%9E%90%EB%A3%8C%ED%98%95%2C_%EB%B3%80%EC%88%98%2C_%EC%A3%BC%EC%84%9D_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 002_자료형, 변수, 주석

- 예시 답이 있는 문제는 답 작성 방법에 대한 간단한 예시이므로, 코드를 따라 적어보거나 읽어본 뒤 넘어가시면 됩니다.

---

### 1) 숫자 5를 print() 함수를 사용하여 출력하십시오.

In [ ]:
# 예시 답
print(5)

5

### 2) 음수 -10과 실수 3.14를 각각 출력하십시오.

In [ ]:
print(-10)
print(3.14)

-10
3.14

### 3) 다음 연산을 수행하고 결과를 출력하세요.

- 5+3의 결과를 출력하십시오.
- 2*8의 결과를 출력하십시오.
- 3*(3+1)의 결과를 출력하십시오.

In [ ]:
print(5+3)
print(2*8)
print(3*(3+1))

8
16
12

### 4) 문자열 "ㅋ"를 9번 반복하여 출력하십시오.

In [ ]:
print("ㅋ"*9)

ㅋㅋㅋㅋㅋㅋㅋㅋㅋ

### 5) not (5 > 10)의 결과를 출력하십시오.

In [ ]:
print(not(5 > 10))

True

### 6) 수식 100 == 200의 결과를 출력하십시오.

In [ ]:
print(100 == 200 )

False

### 7) 다음 조건에 따라 변수를 생성하고 출력하세요.

- destination 변수에 "파리"를, days 변수에 5(일)을 할당하십시오.
- print 함수를 사용하여 "내 여행지는 X이고, 여행 기간은 Y일입니다."라는 문장을 출력하십시오.

In [ ]:
# 예시 답
destination = "파리"
days = 5
print("내 여행지는 " + destination + "이고, 여행 기간은 " + str(days) + "일입니다.")

내 여행지는 파리이고, 여행 기간은 5일입니다.

### 8) 다음 조건에 따라 변수를 생성하고 출력하세요.

- review 변수에 영화 리뷰 "흥미진진하다"를, rating 변수에 평점 4.5를 할당하십시오.
- print 함수를 사용하여 "이 영화에 대한 나의 리뷰는 X이고, 평점은 Y입니다."라는 문장을 출력하십시오.

In [ ]:
review="흥미진진하다"
rating=4.5

print("이 영화에 대한 나의 리뷰는 "+review+"이고, 평점은 "+str(rating)+"입니다.")

### 9) 아래의 코드 내용 전체를 주석으로 처리하세요.

In [ ]:
# print("아침에는 커피가 필요해")
# print("점심에는 샐러드를 먹고")
# print("저녁에는 스파게티를 좋아해")

### 10) 주석을 사용해 아래 코드가 어떤 동작을 하는지 설명하세요.

In [ ]:
# 여기에 주석을 추가하여 아래 코드 설명하기
# 안녕 파이썬을 출력해준다.
print("안녕, 파이썬!")