<a href="https://colab.research.google.com/github/tlsrhksdn/2024_2-ADAM/blob/examples/003_%EC%88%AB%EC%9E%90_%EB%8B%A4%EB%A3%A8%EA%B8%B0_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 003_숫자 다루기

- 예시 답이 있는 문제는 답 작성 방법에 대한 간단한 예시이므로, 코드를 따라 적어보거나 읽어본 뒤 넘어가시면 됩니다.

---

In [ ]:
!git clone https://github.com/tlsrhksdn/2024_2-ADAM.git

### 1) 더하기 연산자 `+`를 사용하여 아래의 수식을 완성하고 결과를 출력해보세요.

- `4 더하기 7`

In [ ]:
# 예시 답
print(4 + 7)

11

### 2) 빼기 연산자 `-`를 사용하여 아래의 수식을 완성하고 결과를 출력해보세요.

- `9 빼기 5`

In [ ]:
print(9 - 5)

### 3) 곱하기 연산자 `*`를 사용하여 아래의 수식을 완성하고 결과를 출력해보세요.

- `8 곱하기 3`

In [ ]:
print(8 * 3)

24

### 4) 나누기 연산자 `/`를 사용하여 아래의 수식을 완성하고 결과를 출력해보세요.

- `10 나누기 2`

In [ ]:
print(10 / 2)

### 5) 제곱 연산자 `**`를 사용하여 아래의 수식을 완성하고 결과를 출력해보세요.

- `4의 제곱`

In [ ]:
print(4 ** 2)

16

### 6) 비교 연산자 `>`를 사용하여 아래의 비교 수식의 참/거짓을 판별해보세요.

- `7 > 5`

In [ ]:
# 예시 답
print(7 > 5)  # True: 참

True

### 7) 비교 연산자 `>=`를 사용하여 아래의 비교 수식의 참/거짓을 판별해보세요.

- `7 >= 7`

In [ ]:
print( 7 >= 7)

True

### 8) 논리 연산자 `and`를 사용하여 아래의 두 조건이 모두 참인지 확인해보세요.


- `4 > 2` and `5 > 3`

In [ ]:
# 예시 답
print(4 > 2 and 5 > 3)

True

### 9) 논리 연산자 `or`를 사용하여 아래의 두 조건 중 하나라도 참인지 확인해보세요.


- `3 < 2` or `8 > 4`

In [ ]:
print(3 < 2 or 8 > 4)

True

### 10) 다음 수식의 결과가 무엇인지 출력하여 확인해보세요.

- `3 + 4 * 2`

In [ ]:
print(3 + 4 * 2)

11

### 11) 변수 `number`에 `15`를 할당하고, 이 값을 출력해보세요.

In [ ]:
# 예시 답
number = 15
print(number)

15

### 12) 변수 `a`에 `10`, 변수 `b`에 `5`를 할당한 후, 두 변수를 더한 결과를 출력해보세요.

In [ ]:
a = 10
b = 5

print(a + b)

15

### 13) 변수 `num`에 `7`을 할당하고, 이 변수의 값을 `3`만큼 증가시킨 후, 최종 값을 출력해보세요.

In [ ]:
num = 7
print(num + 3)

10

### 14) `max` 함수를 사용하여 숫자 `3`, `12`, `9` 중 가장 큰 값을 찾아 출력해보세요.

In [ ]:
print(max(3, 12, 9))

12

### 15) `math` 모듈의 `sqrt` 함수를 사용하여 `16`의 제곱근을 구한 후 출력해보세요.

- math 모듈을 import 하는 것을 잊지 마세요

In [ ]:
import math

print(math.sqrt(16))

4.0

### 16) `random` 모듈의 `random` 함수를 사용하여 0 이상 1 미만의 무작위 수를 생성한 후 출력해보세요.

- random 모듈을 import 하는 것을 잊지 마세요

In [ ]:
import random

print (random.random())

0.3948462773827899

### 17) `random` 모듈의 `randint` 함수를 사용하여 1 이상 10 이하의 무작위 정수를 생성한 후 출력해보세요.

In [ ]:
import random

print(random.randint(1, 10))

6