<a href="https://colab.research.google.com/github/tlsrhksdn/2024_2-ADAM/blob/examples/005_%EB%A6%AC%EC%8A%A4%ED%8A%B8%2C_%ED%8A%9C%ED%94%8C%2C_%EC%84%B8%ED%8A%B8%2C_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC(%EC%82%AC%EC%A0%84)_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 005_리스트, 튜플, 세트, 딕셔너리(사전)

- 예시 답이 있는 문제는 답 작성 방법에 대한 간단한 예시이므로, 코드를 따라 적어보거나 읽어본 뒤 넘어가시면 됩니다.

---

### 1) 리스트 생성 및 인덱스 사용해보기
favorite_colors 리스트에 "빨강", "파랑", "초록"을 저장하세요.
리스트의 두 번째 색상을 출력하세요.

In [ ]:
# 예시 답
favorite_colors = ["빨강", "파랑", "초록"]
print(favorite_colors[1])

파랑

### 2) animals 리스트를 생성하고 "사자", "호랑이"를 저장하세요.

리스트의 두번째 요소를 출력하십시오

In [ ]:
animals = ["사자", "호랑이"]
print(animals[1])

호랑이

### 3) 리스트에 요소 추가하기
- numbers 리스트를 만들고 1, 2, 3을 저장하세요.
- numbers 리스트에 4를 추가한 후 전체 리스트를 출력하세요.

In [ ]:
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)

### 4) 리스트에서 요소 제거하기
- fruits 리스트에 "사과", "바나나", "딸기"를 저장하세요.
- "바나나"를 리스트에서 제거한 후 전체 리스트를 출력하세요.

In [ ]:
fruits = ["사과", "바나나", "딸기"]
fruits.remove("바나나")
print(fruits)

### 5) 튜플의 기본 사용법 익히기
- animals 튜플에 "강아지", "고양이", "토끼"를 저장하세요.
- 첫 번째 동물을 출력하세요.

In [ ]:
animals = ("강아지", "고양이", "토끼")
print(animals[0])

### 6) 사전(Dictionary) 생성 및 데이터 접근하기
- book 사전에 `{'제목': '해리포터', '저자': 'J.K. 롤링', '출판연도': 1997}`을 저장하세요.
- '제목'에 해당하는 값을 출력하세요.

In [ ]:
book = {'제목' : '해리포터', '저자' : 'J.K. 롤링', '출판연도' : 1997}
print(book['제목'])

### 7) 사전에서의 데이터 추가와 삭제
- person 사전에 `'이름': '홍길동'`, `'나이': 30`을 저장하세요.
- '직업'을 '도적'으로 추가하고, '나이'를 삭제한 후 전체 사전을 출력하세요.

In [ ]:
person = {'이름' : '홍길동', '나이' : 30}
person['직업'] = '도적'
del person['나이']
print(person)

### 8) 셋(Set)의 기본 사용법 익히기
- unique_numbers 셋에 1, 2, 3, 3, 4를 저장하세요.
- unique_numbers 셋을 출력하여 중복 제거된 결과를 확인하세요.

In [ ]:
unique_numbers = {1, 2, 3, 3, 4 }
print(unique_numbers)

{1, 2, 3, 4}

### 9) 셋에서 요소 추가 및 제거하기
- foods 셋에 "김치", "된장찌개", "비빔밥"을 저장하세요.
- "라면"을 추가하고 "김치"를 제거한 후 셋을 출력하세요.

In [ ]:
foods = {"김치", "된장찌개", "비빔밥"}
foods.add("라면")
foods.remove("김치")
print(foods)

AttributeError: 'tuple' object has no attribute 'add'

### 10) 리스트와 셋의 자료형 변환
- numbers 리스트에 1, 2, 3, 3, 4를 저장하세요.
- numbers를 셋으로 변환하여 중복을 제거한 후 다시 리스트로 변환하세요.

In [ ]:
# 예시 답
numbers = [1, 2, 3, 3, 3, 4, 4, 5, 5, 5, 5]
numbers_set = set(numbers)
numbers = list(numbers_set)
print(numbers)

[1, 2, 3, 4, 5]

### 11) 사전에서 keys와 values 출력하기
- student 사전에 {'이름': '이순신', '학년': 3, '전공': '역사학'}을 저장하세요.
- 사전의 keys와 values를 각각 출력하세요.

In [ ]:
student = {'이름' : '이순신', '학년' : 3, '전공' : '역사학'}
print(student.keys())
print(student.values())

dict_keys(['이름', '학년', '전공'])
dict_values(['이순신', 3, '역사학'])

### 12) 리스트 정렬
- cities 리스트에 "서울", "부산", "인천"을 저장하세요.
- 리스트를 알파벳 순으로 정렬한 결과를 출력하세요.

In [ ]:
# 예시 답
cities = ["서울", "부산", "인천"]
cities.sort()
print(cities)

['부산', '서울', '인천']

### 13) 리스트 정렬과 역순 정렬
- cities 리스트에 "서울", "부산", "인천", "세종"을 저장하세요.
- 리스트를 알파벳 순으로 정렬하고, 그 다음에 역순으로 정렬한 후 결과를 각각 출력하세요.

In [ ]:
cities = ["서울", "부산", "인천", "세종"]
cities.sort()
print(cities)
cities.reverse()
print(cities)

['부산', '서울', '세종', '인천']
['인천', '세종', '서울', '부산']

### 14) 셋의 교집합과 합집합 찾기
- set1에 1, 2, 3을, set2에 2, 3, 4를 저장하세요.
- set1과 set2의 교집합과 합집합을 각각 출력하세요.

In [ ]:
set1 = (1, 2, 3)
set2 = (2, 3, 4)
print(set1 & set2)
print(set1 | set2)

### 15) 리스트의 길이와 요소 접근
- snacks 리스트에 "초콜릿", "사탕", "과자"를 저장하세요.
- 리스트의 길이와 마지막 요소를 출력하세요.

In [ ]:
snacks = ["초콜릿", "사탕", "과자"]
print(len(snacks))
snacks[-1]

### 16) 사전의 모든 데이터 삭제
- inventory 사전에 {"사과": 30, "바나나": 15, "오렌지": 10}을 저장하세요.
- 사전의 모든 데이터를 삭제하고, 출력하여 비어 있는지 확인하세요.

In [ ]:
inventory = {"사과" : 30, "바나나" : 15, "오렌지" : 10}
inventory.clear()
print(inventory)

{}

### 17) 튜플과 리스트 변환
- data 튜플에 1, 2, 3, 4, 5를 저장하세요.
- data 튜플을 리스트로 변환하고, 리스트에 6을 추가한 후 튜플로 다시 변환하세요.
- data를 출력하세요

In [ ]:
data = {1, 2, 3, 4, 5}
data = list(data)
data.append(6)
data = tuple(data)
print(data)

### 18) 사전의 key, value 쌍으로 출력
- person 사전에 {'이름': '김철수', '나이': 25, '직업': '개발자'}를 저장하세요.
- 사전의 key와 value를 쌍으로 출력하세요. (출력 예시: `"이름: 김철수"`)

In [ ]:
person = {'이름' : '김철수', '나이' : 25, '직업' : '개발자'}
print(person.items())

dict_items([('이름', '김철수'), ('나이', 25), ('직업', '개발자')])