<a href="https://colab.research.google.com/github/tlsrhksdn/2024_2-ADAM/blob/examples/007_%ED%95%A8%EC%88%98_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 007_함수


- 예시 답이 있는 문제는 답 작성 방법에 대한 간단한 예시이므로, 코드를 따라 적어보거나 읽어본 뒤 넘어가시면 됩니다.

- 기존 실습보다 조금 어려울 수 있습니다. 예시 답들을 참고해서, 조건을 잘 읽고 코드를 작성해보세요.

---

### 1) 다음 조건에 따라 함수를 생성하고 호출하세요.

- 함수 이름은 create_account로, "계좌가 생성되었습니다."라는 문장을 출력하세요.
- 함수를 호출하여 결과를 확인하세요.

In [ ]:
# 예시 답
def create_account():
    print("계좌가 생성되었습니다.")

create_account()

계좌가 생성되었습니다.

### 2) 다음 조건에 따라 함수를 생성하고 값을 반환하세요.

- 함수 이름은 calculate_balance로, 전달받는 initial_balance와 deposit_amount를 더한 후 결과를 반환하세요.
- 초기 잔액 10000원과 입금액 2000원을 변수로 사용하여 함수를 호출하고 결과를 출력하세요.

In [ ]:
def calcuate_balance(initial_balance, deposit_amount):
    return initial_balance + deposit_amount

initial_balance = 10000
deposit_amount = 2000
result = calcuate_balance(initial_balance, deposit_amount)
print(result)

### 3) 전달값과 반환값을 포함한 함수를 생성하세요.
- 함수 이름은 withdraw_money로, 현재 잔액 balance에서 출금액 money를 뺀 후 잔액을 반환하세요.
- 현재 잔액 15000원, 출금액 5000원을 사용하여 함수를 호출하고 결과를 출력하세요.

In [ ]:
def withdraw_money(balance, money):
    return balance - money

balance = 15000
money = 5000
result = withdraw_money(balance, money)
print(result)

### 4) 다음 조건에 따라 저녁 출금 함수를 생성하세요.
- 함수 이름은 withdraw_evening로, 출금 수수료 commission 150원을 고려하여 출금 후의 잔액과 수수료를 함께 반환하세요.
- 현재 잔액 20000원에서 6000원을 출금 시도할 때 사용하세요.

In [ ]:
# 예시 답
def withdraw_evening(balance, money):
    commission = 150
    return commission, balance - money - commission

balance = 20000
commission, balance = withdraw_evening(balance, 6000)
print("수수료:", commission, "원, 잔액:", balance, "원")

수수료: 150 원, 잔액: 13850 원

### 5) 기본값을 갖는 함수를 생성하세요.
- 함수 이름은 display_profile로, 이름(name), 나이(age=25), 주 사용 언어(main_lang="JavaScript")를 전달받아 출력하세요.
- 이름만 전달받아 함수를 호출하세요.

In [ ]:
def display_profile(name, age=25, main_lang="JavaScript"):
    print("이름:", name)
    print("나이:", age)
    print("주 사용 언어:", main_lang)

display_profile("홍길동")

이름: 홍길동
나이: 25
주 사용 언어: JavaScript

### 6) 키워드 인자를 사용하여 함수를 호출하세요.
- 앞서 작성된 display_profile 함수를 사용하여, 키워드 인자를 이용해 이름, 나이, 주 사용 언어 순서를 바꿔 호출하세요.
- 나이는 30, 주사용 언어는 Python, name은 David로 하세요.

In [ ]:
def dispay_profile(name, age, main_lang):

    print("나이:", age)
    print("주 사용 언어:", main_lang)
    print("이름:", name)

dispay_profile(age=30, main_lang="Python", name="David")

나이: 30
주 사용 언어: Python
이름: David

### 7) 전달값이 있는 함수를 생성하여 조건에 따라 다른 출력을 반환하세요.
- 함수 이름은 login_status로, 사용자 이름과 비밀번호를 전달받아, 정확하면 "로그인 성공!"을, 그렇지 않으면 "로그인 실패!"를 출력하세요.
- 사용자 이름 "admin", 비밀번호 "1234"를 정확히 입력받았다고 가정하고 함수를 호출하세요.

In [ ]:
# 예시 답

def login_status(username, password):
    if username == "admin" and password == "1234":
        print("로그인 성공!")
    else:
        print("로그인 실패!")

login_status("admin", "1234")

로그인 성공!

### 8) 조건을 확인하여 반환 값을 결정하는 함수를 생성하세요.
- 함수 이름은 calculate_fee로, 나이를 전달받아 20세 이상이면 "성인 요금"을, 그렇지 않으면 "청소년 요금"을 반환하세요.
- 나이 22를 사용하여 함수를 호출하고 결과를 출력하세요.

In [ ]:
def calcuate_fee(age):
    if age >= 20:
        return "성인 요금"
    else:
        return "청소년 요금"

result = calcuate_fee(22)
print(result)

성인 요금

### 9) 전역 변수를 사용하여 값을 관리하는 함수를 생성하세요.
- 함수 이름은 update_score로, 전역 변수 score에 점수를 더하는 함수를 작성하세요.
- 초기 점수 80, 추가 점수 20를 사용하여 함수를 호출하고 결과를 출력하세요.

In [ ]:
# 전역변수
score = 80

In [ ]:
# 전역변수
score = 80

def update_score(additional_score):
    global score
    score += additional_score

update_score(20)
print(score)

100

### 10) 특정 조건을 만족하는 값만 반환하는 함수를 생성하세요.
- 함수 이름은 filter_even_numbers로, 주어진 숫자 리스트에서 짝수만 추출하여 반환하세요.
- 숫자 리스트 [1, 2, 3, 4, 5, 6]를 사용하여 함수를 호출하고 결과를 출력하세요.

In [ ]:
# 아래 리스트를 함수에 전달해 호출하세요
data = [1, 2, 3, 4, 5, 6]

In [ ]:
# 아래 리스트를 함수에 전달해 호출하세요
data = [1, 2, 3, 4, 5, 6]

def filter_even_numbers(numbers):
    even_numbers = []
    for number in numbers:
        if number % 2 == 0:
            even_numbers.append(number)
    return even_numbers

print(filter_even_numbers(data))

[2, 4, 6]