<a href="https://colab.research.google.com/github/tlsrhksdn/2024_2-ADAM/blob/examples/008_%EC%9E%85%EC%B6%9C%EB%A0%A5_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 008_입출력

- 예시 답이 있는 문제는 답 작성 방법에 대한 간단한 예시이므로, 코드를 따라 적어보거나 읽어본 뒤 넘어가시면 됩니다.

---

### 1) 'Python'과 'Java'를 쉼표로 구분하여 출력하세요.
- print 함수와 sep 파라미터를 사용하세요.
- sep 파라미터에 쉼표(,)를 지정하여 두 문자열 사이에 쉼표가 출력되도록 설정하세요.

In [ ]:
# 예시 답
print("Python", "Java", sep=",")

Python,Java

### 2) 'Python'과 'Java'를 ' vs '로 구분하여 출력하세요.
- print 함수와 sep 파라미터를 사용하여 'Python vs Java'가 출력되도록 하세요.
- sep 파라미터에 문자열 ' vs '를 지정하세요.

In [ ]:
print("Python", "Java", sep = " vs ")

Python vs Java

### 3) 'Python'과 'Java' 사이에 쉼표를 넣고 문장의 끝에 물음표를 추가하여 출력하세요.
- print 함수를 사용하고, sep와 end 파라미터를 설정하세요.
- sep에 쉼표(,)를, end에 물음표(?)를 지정하세요.

In [ ]:
print("Python", "Java", sep = ",", end = "?")

Python,Java?

### 4) 입력받은 값을 출력하세요.
input 함수를 사용하여 사용자로부터 값을 입력받으세요.
입력받은 값을 print 함수를 사용하여 출력하세요.

In [ ]:
x = input("값을 입력해주세요: ")
print(x)

### 5) 다음 조건에 따라 변수를 생성하고 출력하세요.
- destination 변수에 "파리"를, days 변수에 5(일)을 할당하세요.
- print 함수를 사용하여 "내 여행지는 X이고, 여행 기간은 Y일입니다."라는 문장을 출력하세요.

In [ ]:
destination="파리"
days = 5

print(f"내 여행지는 {destination}이고, 여행 기간은 {days}일입니다.")

내 여행지는 파리이고, 여행 기간은 5일입니다.

### 6) 1부터 20까지의 숫자를 0을 포함한 세 자리 숫자로 출력하세요.
- range 함수를 사용하여 1부터 20까지의 숫자를 생성하세요.
- zfill 메서드를 사용하여 각 숫자를 0을 포함한 세 자리 형태로 출력하세요.

In [ ]:
numbers = [n for n in range(1, 21)]

for n in numbers:
    print(str(n).zfill(3))

001
002
003
004
005
006
007
008
009
010
011
012
013
014
015
016
017
018
019
020

### 7) 숫자 100,000,000,000을 출력할 때, 3자리 마다 콤마를 찍어 출력하세요.
- print 함수와 format 메서드를 사용하세요.
- 콤마를 사용하여 숫자를 포맷하세요.

In [ ]:
print("{:,}".format(100000000000))

100,000,000,000

### 8) 텍스트 파일을 생성하고 '파이썬 공부는 재미있습니다.'라는 문장을 파일에 쓰세요.
- open 함수를 사용하여 'study.txt' 파일을 쓰기 모드로 엽니다.
- write 메서드를 사용하여 파일에 문자를 씁니다.
파일을 닫으세요.

In [ ]:
open("study.txt", "w").write("파이썬 공부는 재미있습니다.")

15

### 9) 앞서 생성한 'study.txt' 파일을 읽어서 그 내용을 출력하세요.
- open 함수를 사용하여 'study.txt' 파일을 읽기 모드로 엽니다.
- read 메서드를 사용하여 파일 내용을 읽습니다.
파일을 닫으세요.

In [ ]:
open("study.txt", "r").read()

'파이썬 공부는 재미있습니다.'

### 10) with 구문을 사용하여 'study.txt' 파일을 열고, 파일 내용을 출력하세요.
- with 구문과 open 함수를 사용하여 파일을 읽기 모드로 엽니다.
- read 메서드를 사용하여 파일 내용을 읽고 출력하세요.

In [ ]:
with open("study.txt", "r") as f:
    print(f.read())

파이썬 공부는 재미있습니다.

### 11) pickle 모듈을 사용하여 사용자 프로필을 파일에 저장하고 다시 불러와 출력하세요.
- pickle 모듈의 dump와 load 함수를 사용하세요.
- 프로필은 이름, 나이, 취미를 포함하는 사전 형태로 profile 딕셔녀리를 사용하세요.

In [ ]:
profile = {"이름": "홍길동", "나이": 20, "취미": ["독서", "여행"]}
profile

{'이름': '홍길동', '나이': 20, '취미': ['독서', '여행']}

In [ ]:
import pickle

profile = {"이름": "홍길동", "나이": 20, "취미": ["독서", "여행"]}
profile

x = pickle.dump(profile, open("profile.pickle", "wb"))

pickle.load(open("profile.pickle", "rb"))

{'이름': '홍길동', '나이': 20, '취미': ['독서', '여행']}

### 12) 파일 'score.txt'에 성적 정보를 쓰고, 이어서 다른 성적 정보를 추가하세요.
- open 함수를 사용하여 파일을 처음에는 쓰기 모드로, 그 다음에는 이어쓰기 모드로 엽니다.
- print 함수를 사용하여 파일에 성적 정보를 쓰고, write 메서드를 사용하여 추가 정보를 기록하세요.
- 파일을 닫으세요.


처음 입력할 정보  
```
수학: 95
영어: 88
```

파일 저장 후 불러와서 이어서 작성할 정보
```
과학: 90
코딩: 100
```

최종 score.txt 파일 내용

```
수학: 95
영어: 88
과학: 90
코딩: 100
```

In [ ]:
with open("score.txt", "w") as f:
  print("수학: 95", file=f)
  print("영어: 88", file=f)

with open("score.txt", "a") as f:
  print("과학: 90", file=f)
  print("코딩: 100", file=f)

  f.close()